<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Dashboard</title>

</head>

<body>

    <h1>
        Welcome Dashboard
    </h1>

    <br>

    <a href="/logout">

        <button style="

            padding:12px 18px;

            background:black;

            color:white;

            border:none;

            border-radius:12px;

            cursor:pointer;

            font-size:14px;

        ">

            Logout

        </button>

    </a>

</body>

</html>